<main class="row">

    <aside class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button class="btn btn-primary margin-bottom-10" ng-click="$ctrl.getTop20Payments()">Callback</button> <br/>
        <button class="btn btn-success margin-bottom-10" ng-click="$ctrl.getPaymentsByMerchant('Ginger')">Promise</button> <br/>
        <button class="btn btn-info margin-bottom-10" ng-click="$ctrl.togglePayment()">Add payment</button>
    </aside>

    <section class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div ng-if = "!$ctrl.showPaymentForm">
            <p ng-if="!$ctrl.payments">Select one option to check the payment details</p>
            <div class="margin-bottom-10">
                <select ng-model="selectedOption"
                        ng-options="option.name for option in $ctrl.filterOptions"
                        ng-change="$ctrl.filterByPaymentMethod(selectedOption)"
                        ng-if="$ctrl.payments">
                    <option value="">-- choose payment method --</option>
                </select>
            </div>

            <table class="table table-bordered" ng-if="$ctrl.payments">
                <tr>
                    <td>ID</td>
                    <td>Method</td>
                    <td>Amount</td>
                    <td>Currency</td>
                    <td>Created</td>
                    <td>Status</td>
                    <td>Merchant</td>
                </tr>
                <tr ng-repeat="payment in $ctrl.payments">
                    <td ng-bind="payment.id"></td>
                    <td ng-bind="payment.method"></td>
                    <td ng-bind="payment.amount"></td>
                    <td ng-bind="payment.currency"></td>
                    <td>{{payment.created | date: 'medium'}}</td>
                    <td ng-bind="payment.status"></td>
                    <td ng-bind="payment.merchant"></td>
                </tr>
            </table>
        </div>

        <div ng-if = "$ctrl.showPaymentForm">
            <form>
                <div class="form-group row">
                    <label for="paymentMethod" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Payment Method:</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <select ng-model="$ctrl.pay.method"
                                ng-options="paymentMethod.name for paymentMethod in $ctrl.paymentMethods"
                                id="paymentMethod">
                            <option value="">-- choose payment method --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="amount" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Amount:</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <input type="number"
                               id="amount"
                               placeholder="Amount"
                               ng-model="$ctrl.pay.amount">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="currency" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Currency:</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <select ng-model="$ctrl.pay.currency"
                                ng-options="currency.name for currency in $ctrl.currencys"
                                id="currency">
                            <option value="">-- choose payment currency --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="merchant" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Merchant:&nbsp;&nbsp;</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <select ng-model="$ctrl.pay.merchant"
                                ng-options="merchant.name for merchant in $ctrl.merchants"
                                id="merchant">
                            <option value="">-- choose merchant --</option>
                        </select>
                    </div>
                </div>

                <input type="submit"
                       class="btn btn-default"
                       name="Pay"
                       ng-disabled="!($ctrl.pay.merchant.value && $ctrl.pay.currency.value && $ctrl.pay.amount && $ctrl.pay.method.value)"
                       ng-click="$ctrl.addPayment($ctrl.pay)"/>
            </form>
        </div>
    </section>

</main>

